span {
  font-size: 13px;
}
.toMakeinline {
  display: inline-block;
  margin-top: -20px;
  margin-bottom: 5px;
  font-size:25px;
}
.text{
  width:50px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.borderBottom {
  border-bottom: 1px solid #192a56;
}
.borderNone {
  border: none;
}
.pointer {
  cursor: pointer;
}
